{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Choose Trigger Word</legend>
                <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        {{ form.trigger_words.label(class="form-check-label") }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.trigger_words(class="form-check-input")}}
                      </div>
                </div>

            </fieldset>

            <div class="input-group-append">
                {{ form.submit(class="btn btn-outline-info", id="btnSubmit") }}
            </div>
        </form>
    </div>



{% endblock content %}

{% block content2 %}

{% endblock content2 %}


